---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');

const pageTitle ="Pagina de inicio";
---
<BaseLayout>
    <h1>Mi sitio</h1>
    <h1>Blog de Astro</h1>
    <ul>
        {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>

</BaseLayout>