---
import '../styles/global.css';
import Header from '../components/Header.astro';
import MenuHamburger from '../components/MenuHamburger.astro'
import Footer from '../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mi Astro</title>
	</head>

	<body>

        <MenuHamburger/>
        <Header/>

        <section>
            <h1>Mi sitio</h1>
            <h1>Blog de Astro</h1>
            <ul>
                <li><a href="/posts/post-1">Publicacion # 1</a></li>
                <li><a href="/posts/post-2">Publicacion # 2</a></li>
                <li><a href="/posts/post-3">Publicacion # 3</a></li>
            </ul>
        </section>
		

        <Footer></Footer>
        <script>
			import "../scripts/HamburgerMenu.js";
		</script>

	</body>
</html>