---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle ="Pagina de inicio";
---
<BaseLayout>
    <h1>Mi sitio</h1>
    <h1>Blog de Astro</h1>
    <ul>
        <li><a href="/posts/post-1">Publicacion # 1</a></li>
        <li><a href="/posts/post-2">Publicacion # 2</a></li>
        <li><a href="/posts/post-3">Publicacion # 3</a></li>
    </ul>

</BaseLayout>