---
import Navigation from "./Navigation.astro";
import MenuHamburger from '../components/MenuHamburger.astro'
---

<header>
    <nav>
        <MenuHamburger/>
        <Navigation>
        </Navigation>
    </nav>
</header>